@font-face {
	font-family: "Source Code Pro";
	src: 
		local('Source Code Pro Medium'), 
		local('SourceCodePro-Medium'),
		url('../fonts/SourceCodePro-Medium.woff2') format('woff2'),
		url('../fonts/SourceCodePro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
